<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entidades" connectionString="metadata=res://*/BDOracle.csdl|res://*/BDOracle.ssdl|res://*/BDOracle.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=RIO4D6.WORLD;PASSWORD=Bronson_9021;PERSIST SECURITY INFO=True;USER ID=SAM&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>